
body{
    font-family: 'Cabin', sans-serif;
}
body * {
    margin: 0;
    border: 0;
    padding: 0;
  }
h2,h5{
  font-weight: 700 !important;
}
  ul {
    padding-left: 10px;
    list-style: none;
}
 p{
  padding-top: 4px;
  padding-bottom: 4px;

 }


.fas,.far {
  padding-right: 8px;
}
.fa-square{
  font-size: 0.5em;
}


  #inicio {
    background-image: url('../img/banner.png');
    text-align: right;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0.125em 0.25em 0.125em #707070;
    padding: 10rem 3.125rem;

}

.img_perfil {
  width: 100%;
  height: auto;
}

.borde_caja {
  border: 1px solid rgba(0,0,0,.125);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}
.carousel-indicators {
  top: 105%;

}

.carousel-indicators li{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #373a3c;
}


.carousel-inner {
  padding-left: 15px;
  padding-right: 15px;
}

.carousel-inner button {
  margin-top: 15px;
}
@media (max-width: 576px) {
  .scroll-top {
     font-size: 10px !important;
  }
}

.scroll-top {
	color: #00000070;
	display: none;

	position: fixed;
	z-index: 1000;
	bottom: 50px;
	right: 30px;
	font-size: 20px;
}
.scroll-top i {
	position: relative;
	top: 5px;
}

footer a{
  color: #ffffff;
}
footer a:hover{
  color: #cddfdf;

}

#quiensoy {
  padding-top: 65px !important;
}